*.db
*.log
**/sessions/
grafana/var/lib/plugins
influxdb/var/lib/data/*
influxdb/var/lib/wal

# ignore generated configration file
grafana/etc/provisioning/datasources/datasource.yaml

# environment files with secrets
influx3.env
