http://grafana.home {
	reverse_proxy grafana:3000
}

http://pihole.home {
	reverse_proxy pihole:80
}

http://influxdb.home {
	reverse_proxy influxdb3:8181
}

http://loki.home {
	reverse_proxy loki:3100
}

http://huoltokirja.home {
	reverse_proxy huoltokirja:8000
}
